<web-app>

    <!-- General description of the web application-->
    <display-name>
        CNT 4714 FALL 2018 Servlet Test
    </display-name>

    <description>
        Web application used to demonstate the servlet Test
    </description>

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>welcome1</servlet-name>
        <description>
            A simple servlet that handles an HTTP get request.
        </description>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcome1</servlet-name>
        <url-pattern>/welcome1</url-pattern>
    </servlet-mapping>


</web-app>



