<web-app>

    <!-- General description of the web application-->
    <display-name>
        CNT 4714 FALL 2018 Servlet Test
    </display-name>

    <description>
        Web application used to demonstate the servlet Test
    </description>

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>welcome1</servlet-name>
        <description>
            A simple servlet that handles an HTTP get request.
        </description>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcome1</servlet-name>
        <url-pattern>/welcome1</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>welcome2</servlet-name>
        <description>
            A simple servlet that recieves data from the client before it is used as a response
        </description>
        <servlet-class>WelcomeServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcome2</servlet-name>
        <url-pattern>/welcome2</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>welcome3</servlet-name>
        <description>
            Like servlet 2 but using a POST request
        </description>
        <servlet-class>WelcomeServlet3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcome3</servlet-name>
        <url-pattern>/welcome3</url-pattern>
    </servlet-mapping>

</web-app>



